<a href="https://colab.research.google.com/github/ShahKhalid1234/Python/blob/main/Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SETS:
It is an unordered collection of unique items

In [2]:
#Create a Set
Planets={'mercury','venus','earth','mars','jupiter'}
print(Planets)

{'earth', 'jupiter', 'mars', 'venus', 'mercury'}

In [4]:
Planets2={'earth','mars'}
print(Planets2)

{'mars', 'earth'}

In [10]:
#operations
print(Planets.union(Planets2))                  #Union of sets
print(Planets.intersection(Planets2))           #intersection of sets
Planets.add('saturn')                           #adding a member to set
print(Planets)
Planets.remove('jupiter')                       #remove a member from set
print(Planets)

{'saturn', 'earth', 'jupiter', 'mars', 'venus', 'mercury'}
{'mars', 'earth'}
{'saturn', 'earth', 'jupiter', 'mars', 'venus', 'mercury'}
{'saturn', 'earth', 'mars', 'venus', 'mercury'}

In [15]:
set1={2,4,6,8}
set2={3,6,9}
print(set1)
print(set2)

set1.add(12)
set2.add(12)
print(set1)
print(set2)
print(set1.union(set2))
print(set1.intersection(set2))
set1.remove(12)
set2.remove(12)
print(set1.intersection(set2))

{8, 2, 4, 6}
{9, 3, 6}
{2, 4, 6, 8, 12}
{9, 3, 12, 6}
{2, 3, 4, 6, 8, 9, 12}
{12, 6}
{6}